*{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.total{
 align-items: center;
 text-align: center;
 display: flex;
 flex-direction: column;

  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 200
}
.navbar{
  align-items:baseline;
}